body{
    padding:0;
    margin: 0;
    overflow: hidden;
}
.full {
    position: absolute;
    width: 800px;
    height: 450px;
    overflow: hidden;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #FBE4A8;
}
.layer {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: repeat-x;
}
.layer--fixed {
}
.layer--half {
}
.layer--normal {
    transform: scale(2);
    top: 17%;
}
.layer--twice {
    transform: scale(4);
    top: 36%;
}

.hidden {
    visibility: hidden;
}