body{
    padding:0;
    margin: 0;
    overflow: hidden;
}
.full {
    position: absolute;
    width: 800px;
    height: 450px;
    overflow: hidden;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #FBE4A8;
}
.layer {
    position: absolute;
    height: 100%;
    width: 300%;
    background-size: contain;
    background-repeat: repeat-x;
}
.layer--fixed {
    pointer-events: none;
}
.layer--half {
    pointer-events: none;
    bottom: -33%;
/*    width: 800px;
    height: 225px;*/
}
.layer--normal {
    /*width: 1200px;
    height: 225px;*/
    bottom: -84%;
    transform: scale(2);
}
.layer--twice {
/*    width: 1200px;
    height: 225px;*/
    transform: scale(4);
    bottom: -173%;
    pointer-events: none;
}

.hidden {
    visibility: hidden;
}